.image-containerr .card {
    position: relative; 
    gap: 60px;   
}

.image-containerr .card img {
    display: block;
    width: 80%;
}

/* TEXT ON IMAGE */
.image-containerr .card .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    pointer-events: none;
}

.image-containerr .card .hero-text h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.image-containerr .card .hero-text p {
    font-size: 0.9rem;
}

.contact {
    width: 100%;
    text-align: center;
    padding: 60px 20px;
}

.contact h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    color: black;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    position: relative;
    margin-bottom: 35px;
}

/* the line input style */
.form-group input,
.form-group textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
    background: transparent;
    outline: none;
    font-size: 1rem;
    resize: none;
}

/* LABEL sits on the line */
.form-group label {
    position: absolute;
    left: 0;
    bottom: 10px;
    pointer-events: none;
    transition: 0.3s ease;
    color: #777;
}

/* When typing or focused, label floats up */
.form-group input:focus + label,
.form-group input:valid + label,
.form-group textarea:focus + label,
.form-group textarea:valid + label {
    bottom: 35px;
    font-size: 0.8rem;
    color: var(--primary-color);
}

.btn {
    background: var(--primary-color);
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}
